body {
  background-color:#f2f2f2;
}

.btn {
  color: white;
}

.card {
  box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
}

.card {
  border: none;
  border-radius: 15px;
  -moz-box-shadow: 0 3px 3px #eaeaea;
  -webkit-box-shadow: 0 3px 3px #eaeaea;
  box-shadow: 0 3px 3px #eaeaea;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px;
}

.card-header {
  padding: 12px;
  border-radius: .5rem!important;
  color: #000000;
  font-size: 14px!important;
  font-weight: 600;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #e7eaf3;
}

.table .thead-light th {
  color: #6c757e;
  background-color: #f8fafd;
  border-color: #e7eaf3;
}

.table thead th {
  vertical-align: bottom;
  font-size:14px;
  border-bottom: 2px solid #e7eaf3!important;
  border-top: 1 px solid #e7eaf3;
}

.table tbody td {
  font-size:14px;
}

.scpVersion {
  font-size: 11px;
  font-weight: bold;
  color:#8989a2 ;
}

.tableNo {
  font-weight: bold;
  color:#676777;
}

.font-size-14 {
  font-size:14px;
}

.hr-space {
  border-top: 1px solid #e7eaf3;
  margin-top: .55rem;
  margin-bottom: .55rem;
  opacity: .75;
}

.scpType {
  color:#929292;
  font-size:11px;
}

.no-padding {
  padding:0px;
}

.navbar-colour {
  background-color: #141517 !important;
  border-bottom-style: solid;
  border-color: #1dffb4;
  border-width: 2px;
}

.navbar-dark .navbar-nav .nav-link {
  margin-left: 10px;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: white;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #0fcad5;
  border-bottom-width: 1px;
}

.nav-link-custom {
  display: block;
  padding: .6rem 1rem;
  background: 0 0;
  border: 0;
  color:#6C757E;
  font-weight:600;
  font-size:14px;
}

input[type="text"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 0.125rem solid rgb(135, 135, 135);
  width: 100%;
  height: 3rem;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}

input[type="text"]:hover {
  border-bottom: 0.125rem solid rgb(87, 87, 87);
  background-color: transparent;
  color: white;
  box-shadow: none;
}

input[type="text"]:focus {
  border-bottom: 0.125rem solid #1dffb4d1;
  background-color: transparent;
  color: white;
  box-shadow: none;
}

tbody, td, tfoot, th, thead, tr {
  border-color: transparent;
}

.w-245px {
  width:245px;
}

.w-1px {
  width:1px;
}

.padding-top-11 {
  padding-top:11px;
}

a {
  color:#0094f6;
}

a:hover {
  color: #0fcad5;
}

.bg-info-new {
  background-color:#8acedc;
}

.bg-danger-new {
  background-color:#e8818b;
}

.bg-success-new {
  background-color:#67d4a1;
}

.bg-secondary-new {
  background-color:#999ea2;
}

.fw-500 {
  font-weight:500;
}

.hash {
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  word-wrap: anywhere;
}

/* CUSTOM SEARCH */

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #f7f7f7; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #e9e9e9 !important; 
  color: #ffffff; 
}

.contractSearch {
  font-size: 11px;
  color: #898c9e;
}

.nameSearch {
  font-size: 13px;
  color: #000;
}

.detailsSpan {
  font-size: 13px;
  font-weight: 700;
  color: #7d7d94;
}

.popup {
  background-color: rgb(77, 77, 77);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 3px;
  width: 160px;
  position: relative;
  top: -48px;
  left: calc(50%);
  border-bottom-left-radius: 0px;
  font-size:12px;
  display:none;
  z-index:10;
}

.popup:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: rgb(77, 77, 77);
  border-bottom: 0;
  margin-left: -80px;
  margin-bottom: -6px;
  border-left: 0;
}

textarea {
  resize: none;
  border-radius: 6px;
  width:100%;
  font-family: var(--bs-font-monospace);
  font-size: .875em;
  height: 133px;
}

.cusCarBodySize {
  height:51px;
}

.nft-card {
  cursor:pointer;
  height:275px;
  background-size: cover!important;
  border-radius:16px;
  border: 1px solid #c5c6d0;
  box-shadow: 0 0 25px 5px #c5c6d0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.125s;
  opacity: 0.8;
}

.nft-card:hover {
  opacity: 1 !important;
}

.nftname {
  margin-top:20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #0c63e4;
  color: white;
}

.nftImg {
  width:100%;
  background-color:transparent;
  background-size: cover!important;
  background-position-x: center!important;
  border-radius:20px;
}

.card-header-nft {
  font-size: 18px!important;
  font-weight: bold;
}

.badge-code {
  color:#303030;
  font-size:14px;
  background-color:#e1e1e1;
  font-family: var(--bs-font-monospace);
  padding:.35em .35rem!important;
  word-break: break-all;
  white-space: normal;
}

.darkerInput {
  color: black !important;
}

:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgb(135, 135, 135);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: rgb(89, 89, 89);;
	--omrs-color-bg-high-contrast: #ffffff;
	
}

div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}

.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 3rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
  cursor:text;
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: -10;
	font-size: 0.9375rem;
	margin-bottom: 32px;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
	color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
	fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-filled > input {
	background: var(--omrs-color-bg-low-contrast);
}

.omrs-input-underlined {
  width:100%;
  color: black;
}

/* Responsiveness for nftImg */
@media (max-width: 768px) {
  .nftImg {
    height:500px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nftImg {
    height:300px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .nftImg {
    height:450px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .nftImg {
    height:450px;
  }
}

@media (min-width: 1400px) {
  .nftImg {
    height:550px;
  }
}

/*MODAL FULL SIZE*/

#nftImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#nftImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-mod {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close-img {
  position: absolute;
  top: 75px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.logo-title {
  height: 26px;
  position: relative;
  top: -2px;
}

.btn-stakecube {
  background-color:#0FCAD5;
  color:#fff;
}

.btn-stakecube:hover {
  background-color:#0fb9c2;
  color:#fff;
}

.btn-stakecube:focus {
  box-shadow:none;
}